*~
.~*
*.pyc
externals/
phpWebServiceClient/config.inc.php
.settings/
src/stone_erp_idu/test_ws.py
openerp-server.conf
src/data_idu/sql/*.sql
*.aux
*.log
*.out
*.tex.backup
*.bm
*.toc
*.dvi
*.lof
*.lot
